/*------------------------------------------------------ ОБЩИЕ НАСТРОЙКИ ------------------------------------------------------------*/
*{
    font-size: 100%;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

/*-------------------------------------------------- ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ ----------------------------------------------------*/

.politika span{
    font-weight: 700;
    font-size: 18px;
    color: black;
}
body.politika p, ol{
    color: #393939;
}
.politika span.head{
    font-size: 28px;
    font-weight: 800;
}
body.politika{
    margin: 4% 16%;
    line-height: 25px;
}
@media (min-width: 500px) and (max-width: 850px){
    body.politika{
        margin: 4% 10%;
        line-height: 20px;
        font-size: 16px;
    }
}

@media (min-width: 150px) and (max-width: 500px){
    body.politika{
        margin: 10% 9%;
        line-height: 17px;
        font-size: 12px;
    }
    .politika span.head{
        font-size: 22px;
    }
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

.ta-center{
    text-align: center;
}

.ta-left{
    text-align: left;
}

.jc-center{
    justify-content: center;
}

h1{
    color: #586587;
    font-size: 56px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: #586587;
    font-size: 36px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main_wrapper button,
.buttons button, 
.questions button,
section#cards button{
    background: linear-gradient(180deg, rgba(254,229,185,1) 0%, rgba(247,213,143,1) 35%, rgba(237,193,102,1) 100%);
    box-shadow: 0 5px 2px 0 #8b6e33;
    border: none;
    border-radius: 20px;
    color: #8c6a31;
}

ul li{
    list-style-type: "- ";
}

a{
    text-decoration: none;
    cursor: pointer;
}
.d-flex{
    display: flex;
}
.jc-sa{
    justify-content: space-around;
}
.d-block{
    display: block;
}
/*------------------------------------------------------------- ШАПКА ---------------------------------------------------------*/
header nav{
    margin-left: 30%;
}

header a{
    color: black;
    margin-right: 15%;
    font-size: 20px;
}

header p{
    font-size: 26px;
}

header span{
    color: rgb(67, 67, 175);
    font-weight: 700;
    width: 100%;
}

header .header_info{
    margin-left: 100%;
    width: 100%;
}

header .center{
    align-items: center;
}

 .header-container{
    margin: 1% 0 1% 0;
}

/*------------------------------------------------------------ ГЛАВНАЯ ---------------------------------------------------------*/
main{
    width: 100%;
}

.main_wrapper img{
    width: 100vw; 
    height: 100%; 
}

main button{
    position: absolute;
    margin: 7% 0 0 2.5%;
    padding: 1.5% 5%;
    font-size: large;
    font-weight: 600;
}

/*------------------------------------------------------------ КАРТОЧКИ ---------------------------------------------------------*/

section#cards h1{
    margin-top: 2%; 
}

section#cards h2{
    margin-bottom: 1%; 
}

section#cards h2:first-of-type{
    margin-top: 2%;
}

section#cards span{
    color: #586587;
    font-size: 34px;
    font-weight: 100;
    text-align: center;
    font-family: sans-serif;
}

section#cards .card{
    margin-bottom: 80px;
    text-align: center;
}  
 
section#cards img{
    position: relative;
    height: 650px;
}

section#cards .img-margin{
    margin-right: 50px;
}

.card_wrapper button{
    height: 80px;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    z-index: 1;
}

.first_button{
    width: 230px;
    transform: translate(-60%, -130%);
}

.second_button{
    width: 270px;
    transform: translate(-50%, -130%); 
}

.card {
    display: flex;
    margin: 0;
}

.card a{
    background: linear-gradient(180deg, rgba(254,229,185,1) 0%, rgba(247,213,143,1) 35%, rgba(237,193,102,1) 100%);
    box-shadow: 0 3px 1px 0 #8b6e33;
    text-align: center;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 20px;
    font-size: 7px;
    font-weight: 600;
    color: #8c6a31; 
}

section#cards img.text{
    box-shadow: 1px 1px 30px 2px rgb(212, 211, 211);
    
}

/*------------------------------------------------------------- О ПРОЕКТЕ ---------------------------------------------------------*/

section#about p:first-of-type{
    font-size: 22px;
    text-align: center;
    margin-bottom: 70px;
}

section#about span, 
.info_2 span{
    font-weight: 600;
}
section#about img{
    margin-top: 25px;
}
section#about h1{
    margin: 20px 30px;
}
section#about p.text{
    width: 800px;
    text-align: left;
}
img.quotes{
    width: 100px;
    height: auto;
    position: absolute;
    z-index: 1;
}
section#about p{
    position: relative;
}
.info_about{
    padding-top: 20px;
    position: relative;
}
.info_about img:first-of-type{
    top: -55px;
    left: 50px;
}
.info_about img:last-of-type{
    rotate: 180deg;
    bottom: 15px;
    left: 750px;
}
.info img.img_person{
    height: 575px;
    margin-left: 50px;  
}

/*-------------------------------------------------------------- НАВЫКИ ------------------------------------------------------------*/

section#skills_wrapper{
    margin: 5%;
}

section#skills_wrapper h2{
    margin-bottom: 100px;
}

.skills .top{

    display: flex;
}

.skills .bottom{
    display: flex;
    padding-top: 60px;
}
.skill{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 0 80px 0 80px;
}
.skill p{
    position: relative;
}
section#skills_wrapper img{
    width: 70px;
    display: block;
    position: absolute;
    z-index: 1;
    transform: translate(0%, -60%);
}

p.text{
    text-align-last: left;
    font-size: 22px;
    background-color: #CDDBFF;
    border-radius: 0 20px 0 20px;
    color: #00345C;
    font-weight: 100;
    line-height: 30px;
    padding: 50px 40px;
}
p.chair{
    background: linear-gradient(180deg, #DDE7FF 0%, #EBF1FF 35%, #F9FAFE 100%);
    width: 290px;
    height: 160px;
    border-radius: 0 20px 0 20px;
    padding: 25px ;
    font-size: 20px;
    line-height: 25px;
    font-weight: 100;
}

.info_2{
    display: flex;
}

.info_2 p{
    position: relative;
    padding: 70px 120px 70px 60px;
}
.info_2 img.quotes{
    position: absolute;
    z-index: 1;
}

.info_2 .portret{
    width: 380px;
    height: 550px;
    padding-right: 2%;
}

section .info_2 img{
    margin-top: 25px ;
} 
.info_2 p.text{
    width: 600px;
}

.info_2 .information img:first-of-type{
    transform: translate(40%, -90%);
}
.info_2 .information img:last-of-type{
    rotate: 180deg;
    transform: translate(-650%, 75%);
}

.info img.img_person{
    height: 575px;
    margin-left: 50px;
}
/*-------------------------------------------------------------- УРОВНИ ---------------------------------------------------------------*/

section#levels{
    font-size: 18px;
}
section#levels h1{
    color: #586587;
    padding: 30px;
}
section#levels h3{
    padding: 30px;
}

.level{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 1%; 
}

.info_basic{
    background-color: #ebebeb;
    color: #586587;

}
.info_standart{
    background-color: #586587;
    color: white;
}
.info_premium{
    color: white;
    background-color: #252c3f;
}
.general{
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.general ul{
    height: 360px;
}
.general ul li{
    font-size: 18px;
    text-align: left;
}

.general p{
    font-weight: 700;
    margin-bottom: 20px;
}

section#levels h3{
    font-size: 28px;
}
section#levels p{
    font-size: 36px;
}

section#levels button{
    padding: 2rem 4rem;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
}
section#levels .buttons {

}

.levels{
    display: flex;
}

/*------------------------------------------------------------- ВОПРОСЫ --------------------------------------------------------------*/

section#question h2{
    font-size: 30px;
    margin-top: 100px; 
}

section#question{
    height: 200px;
}
section#question h2{
    margin-bottom: 30px;    
}
.questions button{
    width: 300px;
    height: 100px;
    font-size: 18px;
    font-weight: 600;
}

 /*------------------------------------------------------------- ОТЗЫВЫ --------------------------------------------------------------*/

section#reviews {
    margin-bottom: 3%;
}
.slider {
    position: relative;
    width: 500px;
    overflow: hidden;
}
.slider h1{
    font-weight: 600;
    margin: 100px 0 20px 0;
}
.reviews {
    align-items: center;
    transition: transform 0.9s;
}
.reviews img{
    width: 350px;
}
.reviews .review:nth-of-type(6) img,
.reviews .review:nth-of-type(11) img {
    width: 250px;
}
.review {
    min-width: 100%;
    box-sizing: border-box;
}
.arrow svg{
    padding-top: 10px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(100%);
    cursor: pointer;
    color: white;
    background-color: #586587;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.arrow.right { right: 0; }

/**-------------------------------------------------------------- ПОДВАЛ ---------------------------------------------------------------*/

footer{
    width: 100%; 
    height: 140px;
    box-sizing: border-box;
    background-color: #252C3F;
    color: white;
    padding-top: 30px;  
}
.footer_wrapper p{
    padding-top: 15px;
}
.footer_wrapper a img{
    width: 80px;
}
.documents p a{
    color: white;
}
/*-------------------------------------------------------------- КОРЗИНА -------------------------------------------------------------*/

.cart{
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    position: relative;
    cursor: pointer;
    display: none;
}

.cart svg{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: inline-block; 
}

.cart{ 
    transition: transform .2s;
}
.cart:hover{
    transform: scale(1.1);
}

/*------------------------------------------------------------ МОДАЛЬНОЕ ОКНО --------------------------------------------*/

.cart{
    position: absolute;
    top: 50%;
    left: 50%;
}

.cart svg{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

body.no-scroll {
    overflow: hidden; /* Prevent scrolling when the popup is active */
}

/* Стили для темного фона */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    z-index: 999;
    display: none; /* Элемент по умолчанию скрыт */
}

.overlay.active {
    opacity: 1;
    visibility: visible;
    display: block; /* Показать элемент, когда он активен */
    transition: opacity 0.3s ease-in-out;
}

/* Стили для всплывающего окна */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    z-index: 999;
    display: none; /* Элемент по умолчанию скрыт */
}

.overlay.active {
    opacity: 1;
    visibility: visible;
    display: block; /* Показать элемент, когда он активен */
    transition: opacity 0.3s ease-in-out;
}

/* Стили для всплывающего окна */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 500px;
    padding: 30px 40px;
    background: white;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    overflow: auto;
}

.popup.active {
    pointer-events: all;
    top: 50%;
    opacity: 1;
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
    overflow: hidden;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;}

/* Стили для формы */
.popup .form h3 {
    text-align: left;
    color: #222;
    margin: 10px 0 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px 0;
}

.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="email"],
.popup .form .form-element input[type="tel"] {
    margin-top: 5px;
    display: block;
    width: 95%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
}

.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: black;
    color: white;
    cursor: pointer;
}

.popup .form-element.total-price-container {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.total-price-container {
    text-align: right;
    padding-bottom: 2%;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 20px;
}

.order-item .item-name {
    flex: 1;
}

.order-item .item-price {
    margin-left: 20px;
    font-weight: bold;
}

.order-item .item-quantity {
    display: flex;
    align-items: center;
}

.order-item .item-quantity button {   
    background: none;
    border: 1px solid #aaa;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 20px;
    color: #aaa;   
}

.order-item .item-quantity input {
    width: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.order-item .remove-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.undo-notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.undo-notification .undo-btn{
    border: none;
    background-color: white;
    color: #7d7d7d;
    padding: 5px 10px; /* Padding inside the button */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
}
.line-text{
    color: #7d7d7d;
}


/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Стили для сообщения об успехе */
.success-message {
    background-color: green;
    color: white;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.error-message {
    color: red;
    font-size: 0.875em;
    display: none;
}
.form-element {
    margin-bottom: 1em;
}
.form-element.error input {
    border: 1px solid red;
}

/*-------------------------------------------------------------- АДАПТИВНАЯ ВЕРСТКА ------------------------------------------------------------*/

/************************************************************( 1480 - 1350 )********************************************************/

@media (max-width: 1480px) and (min-width: 1350px){
    header nav{
        margin-left: 30%;
    }
    header .header_info{
        margin-left: 80%;
        width: 100%;
    }
    /* .card{
        flex-direction: column;
        align-items: center;
    } */

    /* section#cards img {
        margin-right: 0%;
        margin-bottom: 2%;
    } */

    /* section#cards img.text{
        width: 600px;
        height: 650px;
        margin-bottom: 2%;
    } */

    /* .card_wrapper{
        text-align: center;
    } */

    /* .first_button{
        transform: translate(-50%, -130%);
    }
    
    .second_button{
        transform: translate(-50%, -130%); 
    }

    /* .item-order-1{
        order: 2; 
    }

    .item-order-2{
        order: 1;
    } */

    /* .info{
        flex-direction: column;
        align-items: center;
    } */


    /* section#about img {
        margin-top: 25px;
    } */
/* 
    .info img.img_person {
        height: 575px;
        margin-left: 0;
    } */

    /* .skills .top{
        flex-direction: column;
        align-items: center;
    } */
    
    /* .skills .bottom{
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    } */

    .skill{
        padding: 0 40px 0 40px;
    }

    /* .info_about img:first-of-type{
        transform: translate(40%, -90%);
    }
    .info_about img:last-of-type{
        rotate: 180deg;
        transform: translate(-710%, 75%);
    } */

    /* .info_2{
        flex-direction: column;
        align-items: center;
    } */

    /* section#about p:first-of-type {
        font-size: 22px;
        text-align: center;
        margin-bottom: 0;
    } */

    /* .levels{
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    } */

    /* .level_basic{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    } */

    /* .level_standart{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    } */

    /* .level_premium{
        display: flex;
        flex-direction: column; 
        align-items: center; 
    } */

    /* .general{
        margin-right: 0;
    } */

    /* section#levels .buttons{
        padding: 2% 0 5% 0;
    } */
}

/***************************************************************( 1350 - 1100 )********************************************************/

@media  (max-width: 1350px) and (min-width: 1100px) {
    header .header_info{
        margin-left: 60%;
        width: 100%;
    }

    header nav{
        margin-left: 30%;
    }

    .main_wrapper button{
        font-size: 20px;
        padding: 2.2% 6%;
        box-shadow: 0 0.3rem 0.1rem 0 #8b6e33;;
    }

    #about > div > div.item-order-2 > img{
        width: 500px;
        height: auto;
    }
    #about > div > div.info_about.item-order-1 > p{
        text-align: left;
    }

    .info_2 .portret {
        width: 500px;
        height: auto;
    }
   
    /* .card{
        flex-direction: column;
        align-items: center;
    }

    section#cards img {
        margin-right: 0%;
        margin-bottom: 2%;
    }

    section#cards img.text{
        width: 600px;
        height: 650px;

    } */

    /* .card_wrapper{
        text-align: center;
    } */

    /* .first_button{
        transform: translate(-50%, -130%);
    } */
    
    /* .second_button{
        transform: translate(-50%, -130%); 
    } */
    

    section#about .item-order-1{
        order: 2; 
    }

    section#about .item-order-2{
        order: 1;
    }

    .info{
        flex-direction: column;
        align-items: center;
    }


    section#about img {
        margin-top: 25px;
    }

    .info img.img_person {
        height: 575px;
        margin-left: 0;
    }

    /* .skills .top{
        flex-direction: column;
        align-items: center;
    }
    
    .skills .bottom{
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    } */

    .skill{
        padding: 0 20px 0 20px;
    }

    .info_2{
        flex-direction: column;
        align-items: center;
    }

    section#about p:first-of-type {
        font-size: 22px;
        text-align: center;
        margin-bottom: 0;
    }

    /* .levels{
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    } */

    /* .level_basic{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    } */

    /* .level_standart{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    }

    .level_premium{
        display: flex;
        flex-direction: column; 
        align-items: center; 
    } */
     
    .general ul{
        height: 500px;
        padding: 30px;
    }

    .general{
        width: 27vw;
        height: auto;
    } 

    /* section#levels .buttons{
        padding: 2% 0 5% 0;
    } */

    .info_about img:last-of-type {
        bottom: -50px;
    }
}

/***************************************************************( 1100 - 850 )********************************************************/

@media (max-width: 1100px) and (min-width: 850px){
    header .header_info{
        margin-left: 40%;
        width: 100%;
    }
    header nav{
        margin-left: 20%;
    }
    .main_wrapper button{
        font-size: 18px;
        padding: 2.5% 6%;
        box-shadow: 0 0.3rem 0.1rem 0 #8b6e33;;
    }
    #cards > h1{
        font-size: 52px;
    }
    #cards > h1 > span{
        font-size: 30px;
    }
    .card{
        flex-direction: column;
        align-items: center;
    }
    #cards > div:nth-child(3) > div > img{
        width: 600px;
        height: 100%;
    }
    section#cards img {
        margin-right: 0%;
        margin-bottom: 2%;
    }
    #cards > div.card.d-flex.jc-center > div > img{
        width: 600px;
        height: 100%;
    }

    section#cards img.text{
        width: 600px;
    }

    section#cards .img-margin{
        margin-right: 0px;
    }

    .card_wrapper{
        text-align: center;
    }

    .first_button{
        transform: translate(-50%, -150%);
    }
    
    .second_button{
        transform: translate(-50%, -150%); 
    }

    .item-order-1{
        order: 2; 
    }

    .item-order-2{
        order: 1;
    }

    .info{
        flex-direction: column;
        align-items: center;
    }
    
    section#about img {
        margin-top: 25px;
    }

    .info img.img_person {
        height: 575px;
        margin-left: 0;
    }
     .info_2 .portret {
        width: 400px;
        height: auto;
    }
    #about > div > div.item-order-2 > img{
        width: 500px;
        height: auto;
    }
    #about > div > div.info_about.item-order-1 > p{
        text-align: left;
    }

    
    .skills .top{
        flex-direction: column;
        align-items: center;
    }
    
    .skills .bottom{
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .skill{
        padding: 0 0 80px 0;
    }



    .info_2{
        flex-direction: column;
        align-items: center;
    }

    section#about p:first-of-type {
        font-size: 22px;
        text-align: center;
        margin-bottom: 0;
    }

    .levels{
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .level_basic{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    }

    .level_standart{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    }

    .level_premium{
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .general{
        margin-right: 0;
    }
    .level_basic ul {
        height: 200px;
    }
    section#levels button{
    
    }
    section#levels .buttons{
        padding-bottom: 2%;

    }

    section#about p.text {
        width: 750px;
    }

    .info_about img:last-of-type {
        left: 680px;
        bottom: -50px;
    }
}

/***************************************************************( 600 - 850 )********************************************************/

@media (min-width: 600px) and (max-width: 850px){
    header .header_info{
        margin-left: 20%;
        width: 100%;
    }
    header nav{
        margin-left: 20%;
    }
    .main_wrapper button{
        font-size: 16px;
        padding: 2.3% 5.5%;
        box-shadow: 0 0.3rem 0.1rem 0 #8b6e33;;
    }
    #cards > h1{
        font-size: 48px;
    }
    #cards > h1 > span{
        font-size: 28px;
    }
    .card{
        flex-direction: column;
        align-items: center;
    }
    #cards > div:nth-child(3) > div > img{
        width: 500px;
        height: 100%;
    }
    section#cards img.text{
        width: 500px;
        height: 100%;
    }
    #cards > div.card.d-flex.jc-center > div > img{
        width: 500px;
        height: 100%;
    }
     section#cards img {
        margin-right: 0%;
        margin-bottom: 2%;
    }

    section#cards .img-margin{
        margin-right: 0px;
    }

    .card_wrapper{
        text-align: center;
    }

    .first_button{
        transform: translate(-50%, -130%);
    }
    
    .second_button{
        transform: translate(-50%, -130%); 
    }

    .item-order-1{
        order: 2; 
    }

    .item-order-2{
        order: 1;
    }

    .info{
        flex-direction: column;
        align-items: center;
    }

    .info_about img:last-of-type{
        transform: translate(600%, 70%);
    }

    section#about img {
        margin-top: 25px;
    }

    .info img.img_person {
        height: 575px;
        margin-left: 0;
        margin-bottom: 30px;
    }
    #about > div > div.info_about.item-order-1 > p{
        text-align: left;
    }
    .info_about p.text{
        text-align: left;
    }

    .skills .top{
        flex-direction: column;
        align-items: center;
    }
    
    .skills .bottom{
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .skill{
        padding: 0 0 80px 0;
    }

    .info_about img:first-of-type{
        width: 80px;
        height: 70px;
    }
    #about > div > div.info_about.item-order-1 > img:nth-child(3){
        rotate: 180deg;
        width: 80px;
        height: 70px;
    }

    .info_2{
        flex-direction: column;
        align-items: center;
    }

    section#about p:first-of-type {
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;
    }

    p.text {
        font-size: 20px;
        padding: 50px 40px;
        margin-left: 0;
    }
    
    .levels{
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .level_basic{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    }
    .level_basic ul {
        height: 200px;
    }

    .level_standart{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    }

    .level_premium{
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .general{
        margin-right: 0;
    }

     section#levels .buttons{
         padding-bottom: 4%;
    }
    #question > div > form > button{
        width: 250px;
        height: 80px;
    }
    #reviews > div > h1{
        margin: 60px 0 0 10px;
    }
    .arrow {
        top: 40%;
    }
    section#about p.text {
        width: 550px;
    }

    p.text {
        width: 550px;
    }

    .info_about img:first-of-type {
        top: -55px;
        left: 40px;
    }

    .info_about img:last-of-type {
        rotate: 180deg;
        bottom: -90px;
        left: 990px;
    }

    .info_2 .information img:first-of-type{
        transform: translate(40%, -90%);
    }

    .info_2 .information img:last-of-type{
        rotate: 180deg;
        transform: translate(-540%, 75%);
    }
}

/************************************************************************************************************************************/

/***************************************************************( 500 - 600 )********************************************************/

@media (min-width: 500px) and (max-width: 600px){
    header .header_info{
        margin-left: 20%;
        width: 100%;
    }
    header nav{
        margin-left: 20%;
    }
    header a{
        font-size: 18px;
    }
    header p{
        font-size: 22px;
    }
    .main_wrapper button{
        font-size: 12px;
        padding: 2.3% 5.5%;
        box-shadow: 0 0.2rem 0.1rem 0 #8b6e33;;
    }
    #cards > h1{
        font-size: 38px;
    }
    #cards > h1 > span{
        font-size: 24px;
    }
    .card{
        flex-direction: column;
        align-items: center;
    }

    section#cards img {
        margin-right: 0%;
        margin-bottom: 2%;
    }
    #cards > div:nth-child(3) > div > img{
        width: 450px;
        height: auto;
    }
    section#cards img.text{
        width: 450px;
        height: auto;
    }
    #cards > div.card.d-flex.jc-center > div > img{
        width: 450px;
        height: 100%;
    }
    section#cards img {
        position: relative;
        height: 500px;
    }
    section#cards .img-margin{
        margin-right: 0px;
    }

    .card_wrapper{
        text-align: center;
    }

    .first_button{
        transform: translate(-50%, -130%);
    }
   
    .second_button{
        transform: translate(-50%, -130%); 
    }

    .item-order-1{
        order: 2; 
    }

    .item-order-2{
        order: 1;
    }

    .info{
        flex-direction: column;
        align-items: center;
    }

    .info_about img:last-of-type{
        rotate: 180deg;
        transform: translate(600%, 70%);
    }

    section#about img {
        margin-top: 25px;
    }

    .info img.img_person {
        height: 500px;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .skills .top{
        flex-direction: column;
        align-items: center;
    }
    
    .skills .bottom{
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .skill{
        padding: 0 0 80px 0;
    }

    .info_2{
        flex-direction: column;
        align-items: center;
    }

    section#about p:first-of-type {
        font-size: 18px;
        margin-bottom: 0;
    }

    p.text {
        font-size: 18px;
        padding: 50px 40px;
        margin-left: -20px;
        width: 300px;   
    }

    .levels{
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .level_basic{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    }
    .level_basic ul {
        height: 200px;
    }

    .level_standart{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    }

    .level_premium{
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .general{
        margin-right: 0;
    }

    /******************************* КНОПКА КУПИТЬ

    section#levels button{
       padding: 2rem 5rem;
    }

    **********************************************/

    section#levels .buttons{
         padding-bottom: 5%;
    }

    .slider {
        width: 90vw;
    }
    #reviews > div > div.arrow.left.ta-center{
        left: 15px;
    }
    #reviews > div > div.arrow.right.ta-center{
        right: 5px;
    }
    #reviews > div{
        margin-top: 10%;
    }

    .reviews img{
        width: 300px;
        margin-top: 5%;
    }
    #reviews > div > div.arrow.left.ta-center{
        transform: translateY(200%);
    }
    #reviews > div > div.arrow.right.ta-center{
        right: 5px;
        transform: translateY(200%);
    }

    footer{
        width: 100%; 
        height: 140px;
        box-sizing: border-box;
        background-color: #252C3F;
        color: white;
        padding-top: 30px;  
        font-size: 14px;
        text-align: center;
    }
    .footer_wrapper p{
        padding-top: 15px;
    }
    .footer_wrapper a img{
        width: 60px;
    }
    .documents p a{
        color: white;
    }

    h1{
        color: #586587;
        font-size: 44px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h2{
        color: #586587;
        font-size: 28px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #skills_wrapper h2{
        margin-top: 60px;
    }
    #question > div > form > button{
        width: 250px;
        height: 80px;
    }
    #reviews{
        
    }
    #reviews > div > h1{
        margin: 40px 0 0 10px;
    }
    .arrow {
        top: 35%;
    }
    .arrow.right { right: -10px; }
    .arrow.left { right: 370px; }


    section#about p.text {
        width: 450px;
    }

    
    .info_2 p.text {
        width: 450px;
    }

    .info_2 .information img:first-of-type{
        transform: translate(20%, -100%);
    }

    .info_2 .information img:last-of-type{
        rotate: 180deg;
        transform: translate(-425%, 75%);
    }

    .info_about img:first-of-type {
        top: -55px;
        left: 20px;
    }

    .info_about img:last-of-type {
        rotate: 180deg;
        bottom: -90px;
        left: 920px;
    }

    img.quotes {
        width: 90px;
        height: auto;
        position: absolute;
        z-index: 1;
    }
}

/***************************************************************( 400 - 500 )********************************************************/
@media (min-width: 400px) and (max-width: 550px){
    footer{
        font-size: 12px;
    }
}
@media (min-width: 400px) and (max-width: 500px){
    header .header_info{
        margin-left: 20%;
        width: 100%;
    }
    header nav{
        margin-left: 20%;
    }
    header p{
        font-size: 18px;
    }
    header nav a{
        font-size: 16px;
    }
    .main_wrapper button{
        font-size: 10px;
        padding: 2.3% 5.5%;
        box-shadow: 0 0.2rem 0.1rem 0 #8b6e33;;
    }
    #cards > h1{
        font-size: 36px;
        padding-bottom: 2%;
    }
    #cards > h1 > span{
        font-size: 22px;
    }
    .card{
        flex-direction: column;
        align-items: center;
    }
    section#cards h2{
        font-size: 25px;
    }

    section#cards img {
        margin-right: 0%;
        margin-bottom: 2%;
    }
    #cards > div:nth-child(3) > div > img{
        width: 350px;
        height: auto;
    }
    section#cards img.text{
        width: 350px;
        height: auto;
    }
    #cards > div.card.d-flex.jc-center > div > img{
        width: 350px;
        height: 100%;
    }

    section#cards img {
        position: relative;
        height: 450px;
    }

    section#cards .img-margin{
        margin-right: 0px;
    }

    .card_wrapper{
        text-align: center;
    }
    .card_wrapper button{
        
    }

    .first_button{
        transform: translate(-50%, -140%);
    }
    #cards > div:nth-child(3) > div > form > button,
    #cards > div.card.d-flex.jc-center > div > form > button{
        width: 240px; 
        height: 70px;  
        font-size: 16px;
    }
    .second_button{
        transform: translate(-50%, -140%); 
    }
    .item-order-1{
        order: 2; 
    }

    .item-order-2{
        order: 1;
    }

    .info{
        flex-direction: column;
        align-items: center;
    }

    .info_about img:last-of-type{
        rotate: 180deg;
        transform: translate(600%, 70%);
    }

    section#about img {
        margin-top: 25px;
    }

    .info img.img_person {
        height: 500px;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .skills .top{
        flex-direction: column;
        align-items: center;
    }
    
    .skills .bottom{
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .skill{
        padding: 0 0 80px 0;
    }

    .info_2{
        flex-direction: column;
        align-items: center;
    }


    section#about p:first-of-type {
        font-size: 18px;
        text-align: center;
        margin-bottom: 0;
    }

    p.chair {
        background: linear-gradient(180deg, #DDE7FF 0%, #EBF1FF 35%, #F9FAFE 100%);
        width: 250px;
        height: 160px;
        border-radius: 0 20px 0 20px;
        padding: 25px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 100;
    }

    p.text {
        font-size: 18px;
        padding: 50px 40px;

    }
    section#about p.text{
        width: 300px;
        text-align: left;
    }

    .levels{
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .level_basic{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    }
    .level_basic ul {
        height: 200px;
    }
    .level_basic ul {
        height: 200px;
    }

    .level_standart{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    }

    .level_premium{
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .general{
        margin-right: 0;
        width: 350px;
    }

    section#levels button{
       
    }
    section#levels .buttons{
         padding-bottom: 5%;
    }

    .info_2 .portret {
        width: 300px;
        height: auto;
    }

    .slider {
        width: 90vw;
    }
    .reviews img{
        width: 250px;
    }
    #reviews > div > div.arrow.left.ta-center{
        transform: translateY(70%);
    }
    #reviews > div > div.arrow.right.ta-center{
        right: 5px;
        transform: translateY(70%);
    }
    #reviews > div{
        margin-top: 5%;
    }

    .reviews img{
        width: 270px;
        margin-top: 1%;
    }
    #reviews > div > h1 {
        margin-top: 70px;
    }
   

        footer {
            height: 300px;  
        }
        
        .footer_wrapper {
            flex-direction: column;
            align-items: center; 
            justify-content: center;
            text-align: center; 
        }
        .footer_wrapper p{
            padding: 5px;
        }
        .documents {
            order: 2; 
            margin-top: 6%;
        }
        
        .inn {
            order: 3; 
        }
    
        .footer_wrapper a img {
            width: 80px;
            margin: 10px 0; 
        }
    
        .footer_wrapper a img {
            position: relative; 
            align-self: center; 
        }

    h1{
        color: #586587;
        font-size: 36px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h2{
        color: #586587;
        font-size: 28px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #skills_wrapper h2{
        margin-top: 60px;
    }
    #question > div > form > button{
        width: 250px;
        height: 80px;
    }

    
    section#about p.text {
        width: 350px;
    }

    .info_about img:first-of-type {
        top: -55px;
        left: 30px;
    }

    .info_about img:last-of-type {
        rotate: 180deg;
        bottom: -90px;
        left: 850px;
    }

    img.quotes {
        width: 90px;
        height: auto;
        position: absolute;
        z-index: 1;
    }

    .info_2 p.text {
        width: 350px;
    }

    .info_2 .information img:first-of-type{
        transform: translate(40%, -100%);
    }

    .info_2 .information img:last-of-type{
        rotate: 180deg;
        transform: translate(-340%, 75%);
    }
}

/***************************************************************( 300 - 400 )********************************************************/

@media (min-width: 300px) and (max-width: 400px){
    
    header .header_info{
        margin-left: 15%;
        width: 100%;
    }
    header nav{
        margin-left: 5%;
    }
    header p{
        font-size: 17px;
    }
    #header > header > div > nav{
        padding-left: 15%;
    }
    header a{
        color: black;
        margin-right: 15%;
        font-size: 15px;
    }
    .main_wrapper button{
        font-size: 9px;
        padding: 2.3% 5%;
        box-shadow: 0 0.12rem 0.1rem 0 #8b6e33;;
    }
    #cards > h1{
        font-size: 34px;
        padding-bottom: 2%;
    }
    #cards > h1 > span{
        font-size: 20px;
    }
    .card{
        flex-direction: column;
        align-items: center;
    }
    section#cards h2{
        font-size: 22px;
    }
    section#cards img {
        margin-right: 0%;
        margin-bottom: 2%;
    }

    #cards > div:nth-child(3) > div > img{
        width: 300px;
        height: auto;
    }
    section#cards img.text{
        width: 300px;
        height: auto;
    }
    #cards > div.card.d-flex.jc-center > div > img{
        width: 300px;
        height: 100%;
    }
    
    section#cards img {
        position: relative;
        width: 250px;
        height: auto;
    }

    section#cards .img-margin{
        margin-right: 0px;
    }

    .card_wrapper{
        text-align: center;
    }

    .card_wrapper button {
        font-size: 12px;
    }

    .first_button{
        transform: translate(-50%, -145%);
    }
    #cards > div:nth-child(3) > div > form > button{
        width: 190px;
        height: 4%;
        font-size: 14px;
    }
    .second_button{
        transform: translate(-50%, -145%); 
    }
    #cards > div:nth-child(3) > div > form > button,
    #cards > div.card.d-flex.jc-center > div > form > button{
        width: 200px; 
        height: 60px;  
        font-size: 14px;
    }
    .item-order-1{
        order: 2; 
    }

    .item-order-2{
        order: 1;
    }

    .info{
        flex-direction: column;
        align-items: center;
    }

    .info_about img:last-of-type{
        rotate: 180deg;
        transform: translate(600%, 70%);
    }

    section#about img {
        margin-top: 25px;
    }

    .info img.img_person {
        height: 500px;
        margin-left: 0;
        margin-bottom: 30px;
    }
   

    .skills .top{
        flex-direction: column;
        align-items: center;
    }
    
    .skills .bottom{
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .skill{
        padding: 0 0 80px 0;
    }

    .info_2{
        flex-direction: column;
        align-items: center;
    }

    section#about p:first-of-type {
        font-size: 18px;
        text-align: center;
        margin-bottom: 0;
    }

    p.chair {
        background: linear-gradient(180deg, #DDE7FF 0%, #EBF1FF 35%, #F9FAFE 100%);
        width: 200px;
        height: 160px;
        border-radius: 0 20px 0 20px;
        padding: 25px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 100;
    }

    p.text {
        font-size: 18px;
        padding: 50px 40px;
        width: 300px;
    }

    section#about p.text{
        width: 300px;
        text-align: left;
    }

    .levels{
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .level_basic{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    }
    .level_basic ul {
        height: 200px;
    }

    .level_standart{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    }

    .level_premium{
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .general{
        margin-right: 0;
        width: 350px;
    }

    section#levels button{
        box-shadow: 0 0.4rem 0.15rem 0 #8b6e33;
    }
    section#levels .buttons{
         padding-bottom: 4%;
    }
    .info_2 .portret {
        width: 250px;
        height: auto;
    }
    section#question h2{
        font-size: 26px;
    }

    .slider {
        width: 90vw;
    }
    .reviews img{
        width: 250px;
    }
    #reviews > div > div.arrow.left.ta-center{
        transform: translateY(100%);
        width: 40px;
        height: 40px;
    }
    #reviews > div > div.arrow.right.ta-center{
        right: 5px;
        width: 40px;
        height: 40px;
        transform: translateY(100%);
    }
    #reviews > div{
        margin-top: 5%;
    }

    .reviews img{
        width: 300px;
        margin-top: 1%;
    }
    #reviews > div > h1 {
        margin-top: 70px;
    }
    .arrow svg{
        padding-top: 5px;
    }
    .reviews img,
    #reviews > div > div.reviews.d-flex.ta-center > div:nth-child(11) > img,
    #reviews > div > div.reviews.d-flex.ta-center > div:nth-child(6) > img{
        width: 200px;
    }

    footer {
        height: 300px; /* Увеличиваем высоту футера */
    }
    
    .footer_wrapper {
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        text-align: center; 
    }
    .footer_wrapper p{
        padding: 5px;
    }
    .documents {
        order: 2; 
        margin-top: 6%;
    }
    
    .inn {
        order: 3; 
    }

    .footer_wrapper a img {
        width: 80px;
        margin: 10px 0; 
    }

    .footer_wrapper a img {
        position: relative; 
        align-self: center; 
    }


    h1{
        color: #586587;
        font-size: 36px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h2{
        color: #586587;
        font-size: 22px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #skills_wrapper h2{
        margin-top: 60px;
    }
    #question > div > form > button{
        width: 220px;
        height: 70px;
    }
     p.text {
        width: 250px;
    }

    .info_about img:first-of-type {
        top: -55px;
        left: 30px;
    }

    .info_about img:last-of-type {
        rotate: 180deg;
        bottom: -90px;
        left: 700px;
    }

    img.quotes {
        width: 80px;
        height: auto;
        position: absolute;
        z-index: 1;
    }
    
    .info_2 p.text {
        width: 250px;
    }

    .info_2 .information img:first-of-type{
        transform: translate(40%, -100%);
    }

    .info_2 .information img:last-of-type{
        rotate: 180deg;
        transform: translate(-275%, 75%);
    }
}

/*********************************************************( 200 - 300 )*************************************************************/

@media (max-width: 300px) {
    
    header .header_info{
        margin-left: 15%;
        width: 100%;
    }
    header nav{
        margin-left: 5%;
    }
    header p{
        font-size: 17px;
    }
    #header > header > div > nav{
        padding-left: 15%;
    }
    header a{
        color: black;
        margin-right: 15%;
        font-size: 15px;
    }
    main button{
        font-size: 8px;
    }
    #cards > h1{
        font-size: 34px;
    }
    #cards > h1 > span{
        font-size: 20px;
    }
    .card{
        flex-direction: column;
        align-items: center;
    }

    section#cards img {
        margin-right: 0%;
        margin-bottom: 2%;
    }

    #cards > div:nth-child(3) > div > img{
        width: 300px;
        height: auto;
    }
    section#cards img.text{
        width: 300px;
        height: auto;
    }
    #cards > div.card.d-flex.jc-center > div > img{
        width: 300px;
        height: 100%;
    }
    
    section#cards img {
        position: relative;
        width: 250px;
        height: auto;
    }

    section#cards .img-margin{
        margin-right: 0px;
    }

    .card_wrapper{
        text-align: center;
    }
    #cards > div:nth-child(3) > div > form > button,
    #cards > div.card.d-flex.jc-center > div > form > button{
        width: 180px; 
        height: 60px;  
        font-size: 12px;
    }

    .first_button{
        transform: translate(-50%, -145%);
    }
    .second_button{
        transform: translate(-50%, -145%); 
    }

    .item-order-1{
        order: 2; 
    }

    .item-order-2{
        order: 1;
    }

    .info{
        flex-direction: column;
        align-items: center;
    }

    section#about img {
        margin-top: 25px;
    }

    .info img.img_person {
        height: 500px;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .skills .top{
        flex-direction: column;
        align-items: center;
    }
    
    .skills .bottom{
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .skill{
        padding: 0 0 80px 0;
    }

    .info_2{
        flex-direction: column;
        align-items: center;
    }

    section#about p:first-of-type {
        font-size: 18px;
        margin-bottom: 0;
    }

    p.chair {
        background: linear-gradient(180deg, #DDE7FF 0%, #EBF1FF 35%, #F9FAFE 100%);
        width: 200px;
        height: 160px;
        border-radius: 0 20px 0 20px;
        padding: 25px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 100;
    }

    p.text {
        font-size: 18px;
        padding: 50px 40px;
        margin-left: -20px;
    }

    .levels{
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .level_basic{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    }
    .level_basic ul {
        height: 200px;
    }

    .level_standart{
        display: flex; 
        flex-direction: column;
        align-items: center; 
    }

    .level_premium{
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .general{
        margin-right: 0;
        width: 350px;
    }
    section#levels button{
        box-shadow: 0 0.4rem 0.15rem 0 #8b6e33;
    }
    section#levels .buttons{
        padding-bottom: 7%;
    }

    .info_2 .portret {
        width: 250px;
        height: auto;
    }
    section#question h2{
        font-size: 26px;
    }
    .slider {
        width: 300px;
    }

    .reviews img{
        width: 175px;
    }
    footer {
        height: 300px; /* Увеличиваем высоту футера */
    }
    
    .footer_wrapper {
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        text-align: center; 
    }
    .footer_wrapper p{
        padding: 5px;
    }
    .documents {
        order: 2; 
        margin-top: 6%;
    }
    
    .inn {
        order: 3; 
    }

    .footer_wrapper a img {
        width: 80px;
        margin: 10px 0; 
    }

    .footer_wrapper a img {
        position: relative; 
        align-self: center; 
    }


    h1{
        color: #586587;
        font-size: 36px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h2{
        color: #586587;
        font-size: 22px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #skills_wrapper h2{
        margin-top: 60px;
    }
    #question > div > form > button{
        width: 220px;
        height: 70px;
    }

    section#about p.text {
        width: 200px;
    }

    .info_about img:first-of-type {
        top: -45px;
        left: 20px;
    }

    .info_about img:last-of-type {
        rotate: 180deg;
        bottom: -80px;
        left: 600px;
    }

    img.quotes {
        width:75px;
        height: auto;
        position: absolute;
        z-index: 1;
    }
    
    .info_2 p.text {
        width: 200px;
    }

    .info_2 .information img:first-of-type{
        transform: translate(20%, -100%);
    }

    .info_2 .information img:last-of-type{
        rotate: 180deg;
        transform: translate(-200%, 75%);
    }
}

